name: Release

on:
  push:
    tags:
      - 'v*'


jobs:

  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - run: git fetch --force --tags

      - uses: actions/setup-go@v3
        with:
          go-version: stable
          cache: true

      - uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # allow GitHub Action to authenticate with Deno Deploy
      contents: read
    steps:

      - uses: actions/checkout@v3

      - uses: denoland/deployctl@v1
        with:
          project: acp
          root: edge
          entrypoint: index.ts

